*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0.5vw;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(50, 50, 50);
}

/* ----- Colors ----- */

body{
    background-color: rgb(200, 200, 200);
}

/* Header */

header{
    background-color: rgb(50, 50, 50);
    color: white;
}
#header-hide-btn{
    filter: invert(1);
    background-color: rgba(255, 255, 255, 0.15);
}
#header-hide-btn:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
#header-show-btn{
    background-color: rgba(0, 0, 0, 0.15);
}
#header-show-btn:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

/* Main */

#title{
    background-color: rgba(0, 0, 0, 0.15);
}
.topico{
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease;
}
.topico:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */

footer{
    background-color: rgb(50, 50, 50);
    color: white;
}

/* ----- Measures ----- */

body{
    height: 120vh;
    display: grid;
    grid-template: min(5vw, 10vh) 100vh min(5vw, 10vh) / 1fr;
}
body > h2{
    position: absolute;
    top: min(5.5vw, 11vh);
    left: 41.5vw;
    font-size: 1.4vw;
}

/* Header */

header{
    display: grid;
    grid-template: 1fr / min(5vw, 10vh) 1fr;
}
#header-hide-btn{
    width: min(4vw, 8vh);
    margin: auto;
    border-radius: 20vw;
    transform: rotate(180deg);
}
#header-show-btn{
    position: absolute;
    left: min(1vh, 2vw);
    top: min(1vh, 2vw);
    width: min(4vw, 8vh);
    margin: auto;
    border-radius: 20vw;
}
header > h2{
    font-size: min(3vw, 6vh);
    margin: auto;
}

/* Main */

main{
    margin: min(3vw, 6vh);
    display: grid;
    grid-template: 1fr 2vh 1fr 2vh 1fr 2vh 1fr 2vh 1fr 2vh 1fr / 1fr 10vw 1fr 10vw 1fr;
}
section{
    border-radius: min(1vw, 2vh);
}
#title{
    grid-area: 5/3/8/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: min(1vw, 2vh);
}
#title h1{
    font-size: min(2.5vw, 5vh);
}
#title img{
    height: 80%;
}
.topico{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topico h2{
    font-size: min(1.5vw, 3vh);
    text-align: center;
}
#topico-1{
    grid-area: 1/1/1/1;
}
#topico-2{
    grid-area: 3/1/3/1;
}
#topico-3{
    grid-area: 5/1/5/1;
}
#topico-4{
    grid-area: 7/1/7/1;
}
#topico-5{
    grid-area: 9/1/9/1;
}
#topico-6{
    grid-area: 11/1/11/1;
}
#topico-7{
    grid-area: 1/5/1/5;
}
#topico-8{
    grid-area: 3/5/3/5;
}
#topico-9{
    grid-area: 5/5/5/5;
}
#topico-10{
    grid-area: 7/5/7/5;
}
#topico-11{
    grid-area: 9/5/9/5;
}
#topico-12{
    grid-area: 11/5/11/5;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: min(1vw, 2vh);
}